html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(-225deg, #231557 0%, #380643 50%, #4a0101 100%);
    color: #e2e2e2;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

/* Nav Bar */

nav {
    margin: 5px 20px 0;
    padding: 10px 20px;
    border-radius: 1%;
}

@media (min-width: 800px) {
    nav {
        position: fixed;
        width: 210px;
        padding: 30px 50px;
    }
}

nav .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

nav .avatar img {
    display: block;
    border-radius: 50%;
    width: 150px;
    transition: box-shadow .7s;
}
nav .avatar img:hover {
    box-shadow: 0px 0px 20px #c8c2dd86;
}

@media (min-width: 414px) {
    nav .avatar img {
        margin-left: 25px;
    }
}

nav h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    text-shadow: 0px 0px 10px #ffffff3a;
}
@media (min-width: 414px) {
    nav h1 {
        margin: 20px 0 0;
    }
}

nav .links {
    margin: 30px 0;
    padding: 15px 0;
    border-top: 3px solid #ffffff8c;
    border-bottom: 3px solid #ffffff8c;
}

nav .links a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-size: 20px;
    color: #e2e2e2;
}

a:hover {
    color: #fff;
    font-weight: bold;
}

nav .icons {
    text-align: center;
}

nav .icons a {
    display: inline-block;
    font-size: 60px;
    padding: 0px 8px;
    color: #ffffff8c;
    transition: color .7s, text-shadow .7s;
}

nav .icons a:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #ffffff3a;
}

nav h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

/* Main */

main {
    padding: 50px 20px;
}

@media (min-width: 800px){
    main {
        margin-left: 350px;
        padding-top: 5px;
    }
}

section {
    margin: 0 auto 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: #0c042b;
    background-color: #0000005e;
    padding: 10px 20px;
    max-width: 650px;
    border-radius: 1%;
}

section img {
    display: block;
    margin: 20px auto;
    width: 80%;
    display: block;
    transition: box-shadow .7s;
}

section img:hover {
    box-shadow: 0px 0px 20px #ffffff3a;
}


/* Button Styling */

.button {
    display: inline-block;
    background-color: #ffffff00;
    border: none;
    color: #e2e2e2;
    font-size: 20px;
    transition: all 0.5s;
    width: 100%;
    cursor: pointer;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\25BA';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    color: #fff;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background-image: linear-gradient(-225deg, #231557 0%, #380643 50%, #4a0101 100%);    
}

::-webkit-scrollbar-thumb {
    border: none;
    background-clip: padding-box;
    border-radius: 75px;
    background-color: #ffffff8c;
}
  